:host{
    width:100%;
    height:100%;
    position: relative;
}

.x-Nav1{
    width:60%;
    justify-content: start;
    align-items: center;
}

.x-Nav2{
    justify-content: center;
    align-items: center;
}

.x-Nav3{
    width:60%;
    justify-content: flex-end;
    align-items: center;
}

.x-MenuIcons{

    color:var(--x-NavIconColor);

}

.x-MenuButton{
    display: none;
    margin-right:16px;

}

@media only screen and (max-width: 1000px) {

    .x-MenuButton{

        display: block;

    }

  }
 
 .x-searchInputArea{
    font-family:'Roboto',serif;
    font-size:1rem;
    font-style: normal;
    max-height: 26px;
    border: 1px solid var(--x-SearchBarBorder);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 2px;
    padding-left:15px;
    padding-right:0px;
 }

 .x-searchInputArea:focus-visible{
  
    outline: transparent;

 }

 .x-searchButton{
    border: 1px solid var(--x-SearchBarBorder);
    background-color: var(--x-SearchButtonBackground);
    cursor: pointer;
    border-left: 0;
    margin: auto;
    width:50px;
    min-height:26px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2px;
    overflow: hidden;

 }

 .x-searchIcon{
    color: var(--x-NavIconColor);
    margin: auto;
 }

 .x-NavbarIcon{

    color: var(--x-NavIconColor);
    margin-left:10px;

 }

 ::ng-deep .navTooltip{
     font-family:'Roboto';
     font-size:0.9rem;
 }

 .x-SecondarySearch{
    background-color: var(--x-MainNavbar-Color);
    position: absolute;
 }

 .x-SecondaryButton{
     width:40px;
     height: 40px;
     cursor: pointer;
     margin:auto;
     align-items: center;
     justify-content: center;
     margin-right: 16px;
     color: var(--x-NavIconColor);
     
 }



 .x-PrimarySearchButton{
    display: none;
}

 @media only screen and (max-width: 700px) {

    .x-PrimarySearchButton{
        display: block;
    }

    .x-PrimarySearch{
        display:none;
    }

  }
  @media only screen and (max-width: 400px) {
    .x-NavbarIcon {

        margin-left: 0px;
    }
  }

  .extraFlex{
    align-items: center;
    justify-content: flex-end;
   
  }


  .extraTrigger{
      position: absolute;
      color: var(--x-NavIconColor);
  }

  .extraTriggerButton{
      display: none;
  }

  @media only screen and (max-width: 350px) {
    .extraFlex{
        z-index:3;
        flex-direction: column-reverse;
        top: 55px;
        position: absolute;
        align-items: flex-end;
        background-color: var(--x-MainNavbar-Color);
        height: 165px !important;
        width: 42px !important;
        border-radius: 20px;
      }

      .extraTriggerButton{
        display: block;
    }

 
  }
