<div class="sideNavMain">
  <mat-card matRipple [matRippleColor]="'#00000020'"class=" x-MainNavSide dFlex x-MainNavSideActive">
    <div class="x-SidenavCard dFlex">
      <mat-icon class="x-SidebarNavIcon" aria-hidden="false" aria-label="Home">home</mat-icon>
    </div>
    <div class="x-SideNavText">Home</div>
  </mat-card>
  <mat-card matRipple [matRippleColor]="'#00000020'"class="dFlex x-MainNavSide">
    <div class="x-SidenavCard dFlex">
      <mat-icon class="x-SidebarNavIcon" aria-hidden="false" aria-label="Dashboard">dashboard</mat-icon>
    </div>
    <div class="x-SideNavText">Dashboard</div>
  </mat-card>
  <mat-card matRipple [matRippleColor]="'#00000020'"class="dFlex x-MainNavSide ">
    <div class="x-SidenavCard dFlex">
      <mat-icon class="x-SidebarNavIcon" aria-hidden="false" aria-label="Dashboard">workspaces</mat-icon>
    </div>
    <div class="x-SideNavText">Lecterns</div>
  </mat-card>
  <mat-card matRipple [matRippleColor]="'#00000020'"class="dFlex x-MainNavSide">
    <div class="x-SidenavCard dFlex">
      <mat-icon class="x-SidebarNavIcon" aria-hidden="false" aria-label="Dashboard">build</mat-icon>
    </div>
    <div class="x-SideNavText">Tools</div>
  </mat-card>
</div>
