<!-- <link rel="stylesheet" href="../../../../styles.css">
<link rel="stylesheet" href="home-announcement.component.css"> -->

    <mat-card class="x-HomeAnnounceContainer dFlex flexC">
        <div class="x-HomeAnnounceTitleContainer dFlex">
           <div class="x-AnnounceIcon dFlex">
               <mat-icon>campaign</mat-icon>
           </div>
           <div class="x-HomeAnnounceTitle dFlex">
             <div class="x-AnnounceTitleClamp">Lorem ipsum dolor sit amet consectetur, adipisicing</div>
           </div>
        </div>
        <div class="x-HomeAnnounceDiscContainer dFlex flexR">
            <div class="x-HomeAnnouncementImages">
                <img src="https://picsum.photos/200/300" alt="Image" class="x-AnnounceImage">
            </div>
            <div class="x-HomeAnnouncementOwnerDisc dFlex flexR">
                <div class="x-AnnounceOwnerDesc dFlex flexC">
                    <div class="x-AnnounceImageAndTitle dFlex">
                        <img src="https://picsum.photos/200/300" alt="Image" class="x-AnnounceOwnerLogo">
                        <div class="x-AnnounceOwnerName dFlex"> 
                            <div class="x-AnnounceOwnerClamp">
                                LearnerX
                            </div> 
                    </div>
                    </div>
                    <div class="x-AnnounceImageAndTitleDesc1 dFlex">
                        <div class="x-HomeAnnounceLevels dFlex">
                            <mat-icon>thumb_up</mat-icon>
                            <div class="x-AnnounceVotesText">129M</div>
                        </div>
                        <div class="x-HomeAnnounceLevels dFlex">
                            <mat-icon>thumb_down</mat-icon>
                            <div class="x-AnnounceVotesText">129M</div>
                        </div>
                        <div class="x-HomeAnnounceMenu dFlex">
                            <button class="dFlex fCenter" mat-icon-button aria-label="More">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                        </div>
                    </div>
                    <div class="x-AnnounceImageAndTitleDesc2 dFlex">
                        <button mat-button>Visit</button>
                    </div>
                </div>
            </div>
            
        </div>
 
    </mat-card>
