<!-- <link rel="stylesheet" href="../../../../styles.css">
<link rel="stylesheet" href="home-announcement.component.css"> -->

    <mat-card class="x-HomeAnnounceContainer dFlex flexC">
        <div class="x-HomeAnnounceTitleContainer">
           l
        </div>
        <div class="x-HomeAnnounceDiscContainer dFlex flexR">
            <div class="x-HomeAnnouncementImages">
                <img src="https://picsum.photos/200/300" alt="Image" class="x-AnnounceImage">
            </div>
            <div class="x-HomeAnnouncementOwnerDisc dFlex flexR">
                <div class="x-AnnounceOwnerDesc dFlex flexC">
                    <div class="x-AnnounceImageAndTitle dFlex">
                        <img src="https://picsum.photos/200/300" alt="Image" class="x-AnnounceOwnerLogo">
                        <div class="x-AnnounceOwnerName dFlex"> LearnerX </div>
                    </div>
                    <div class="x-AnnounceImageAndTitleDesc1 dFlex">
                        l
                    </div>
                    <div class="x-AnnounceImageAndTitleDesc2 dFlex">
                        l
                    </div>
                </div>
            </div>
            
        </div>
 
    </mat-card>
